# Clase 01

Introducción a Python y Numpy

In [3]:
### Tipos de datos ###
# Enteros
a = 5
#print(a)
# Float
b = 3.14
#print(b)
# Cadenas
c = "Hola"
d = 'mundo'
#print(c)
# Concatenación cadena y entero
#print(c, a)
# Concatenación cadena y cadena
print(c, d)

Hola mundo

In [4]:
### Operadores aritméticos
n1 = 5
n2 = 2
# Suma
suma = n1 + n2
print("Suma=", suma)
# Resta
resta = n1 - n2
print("Resta=", resta)
# Multiplicación
multiplicacion = n1 * n2
print("Multiplicación=", multiplicacion)
# División
division = n1 / n2
print("División=", division)
# Módulo
modulo = n1 % n2
print("Residuo=", modulo)

Suma= 7
Resta= 3
Multiplicación= 10
División= 2.5
Residuo= 1

In [5]:
### Operadores relacionales ###
# Mayor que
n1 = 5
n2 = 2
#print(n1 > n2)
# Mayor igual que
n1 = 3
n2 = 3
#print(n1 >= n2)
# Menor que
n1 = 5
n2 = 2
#print(n1 < n2)
# Menor igual que
n1 = 3
n2 = 3
#print(n1 <= n2)
# Igual
n1 = 3
n2 = 5
#print(n1 == n2)
# Diferente
n1 = 3
n2 = 5
print(n1 != n2)

True

In [6]:
### Listas
lista = [10, 2, 5, 9]
print(lista)
lista2 = [10.2, 11.2, 32.5]
print(lista2)
lista3 = ["maria", "pedro", "juan"]
print(lista3)
lista4 = [10, 10.4, "jose"]
print(lista4)

# Adicionar
lista4.append("andres")
print(lista4)

lista4.remove("jose")
print(lista4)

[10, 2, 5, 9]
[10.2, 11.2, 32.5]
['maria', 'pedro', 'juan']
[10, 10.4, 'jose']
[10, 10.4, 'jose', 'andres']
[10, 10.4, 'andres']

#### Operaciones matemáticas

In [7]:
### Convertir dolares a pesos
dolares = 500

# Valor peso hoy = 4050
pesos = 500 * 4050
print("Pesos =", pesos)

Pesos = 2025000

In [9]:
### Convertir grados farenheit a centigrados

farenheit = 65

centigrados = (farenheit - 32) / 1.8

print("Centigrados:", round(centigrados, 3))

Centigrados: 18.333

### Numpy

In [10]:
### Libreria para operaciones matemáticas
import numpy as np

In [11]:
# Raiz cuadrada
n = 2

raiz = np.sqrt(n)
print(round(raiz, 4))

1.4142

In [12]:
# Elevar al cuadrado
cuadrado = np.power(n, 2)
print(cuadrado)

4

In [13]:
### Pitágoras
a = 2
b = 3

c = np.sqrt( (np.power(a, 2)) + (np.power(b, 2)) )

print("c =", round(c, 2) )

c = 3.61